.StandingsGrid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    background-color: rgb(255, 255, 255, 0.4);
    border-radius: 15px 15px 15px 15px;
    justify-items: center;
    margin: 10px 0;
    padding: 10px;
    /* Margin-bottom just for looks, to see how it looks with screen stretched out */
    margin-bottom: 700px;
}

.StandingsGrid h4 {
}